<!DOCTYPE html>
</html>
<head>
    <title><%= __('Profile Linpret Language Services') %> </title>

    <link href="/../css/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="/../js/all.js"></script>
    <script type="text/javascript" src="/../js/translator.js"></script>
</head>
<body>
<div id="wrapper">
    <div class="page-header">
        <% if (typeof page_title != "undefined") { %>
        <h2><%=page_title %></h2>
        <% }%>
    </div>
    <div class="page-container">


