<!DOCTYPE html>
</html>
    <head>
        <title>TRTOR LINE</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
        <script type="text/javascript" src="/../js/translator.js"></script>
    </head>
    <body>
        <div id="wrapper">

            <div class="page-header"><h2><%=page_title%></h2> <a href="/translators"><h3>Translators</h3></a></div>
            <div class="page-container">
