<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>For your translater needs</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class=" text-center">
        <h1><span class="fa fa-lock"></span>Need A Simultaneous Translation?</h1>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Simultanes Translater Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Simultanes Translater Signup</a>
    </div>

</div>
</body>
</html>
