<html>
    <head>
        
        <title><%=(locals.title) ? title :''%></title>
    
    </head>
    <body>
        <br/><br/>
        <h2>YAMANIZM CORP.
        <br/><br/>
        <a href="/customers">Customers</a>
        <br/><br/>
        <a href="/translators">Translators</a>
        </h2>
    </body>

</html>
