<!doctype html>
<html>
<head>
    <title>Login Linpret Language Services</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
        <img style="max-width:150px; margin-top: -7px;"
             src="/../images/linpret_logo_3.png">
    </a>
</div>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span>Password Change</h1>
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <% if (openTokenRequest ) { %>
        <form action="/send-verify-password-again" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Send Password Verification Mail</button>
        </form>
        <% }else{ %>

        <!-- LOGIN FORM -->
        <form action="/change-password" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>Re-Password</label>
                <input type="password" class="form-control" name="repassword">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Change</button>
        </form>

        <% }%>

        <hr>

        <p align="right">need an account? <a href="/signup?customer=true">Signup</a></p>
        <p align="right">for translators <a href="/signup">Signup</a></p>
        <p align="right"><a href="/">home</a>.</p>

    </div>
</div>
</body>
</html>
