@media screen
and (min-device-width: 480px) and (max-device-width: 1880px) {
    .video-frame .video-stream-container {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
        display: flex;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .div2 {
        position: absolute;
    }

    video {
        height: 100%;
        width: 100%;
    }

    .div2 ._1 { /*left*/
        left: 25px;
        top: 75px;
        width: 475px;
        height: 350px;
    } .div2 ._2 { /*right*/
        left: 550px;
        top: 75px;
        width: 475px;
        height: 350px;
    }

    .div3 ._1 { /*left top*/
        left: 75px;
        top: 0px;
        width: 400px;
        height: 250px;
    } .div3 ._2 { /*left bottom*/
        left: 75px;
        top: 300px;
        width: 400px;
        height: 250px;
    } .div3 ._3 { /*right*/
        left: 575px;
        top: 150px;
        width: 400px;
        height: 250px;
    }

    .div4 ._1 { /*left top*/
        left: 75px;
        top: 0px;
        width: 400px;
        height: 250px;
    } .div4 ._2 { /*left bottom*/
              left: 75px;
              top: 300px;
              width: 400px;
              height: 250px;
    } .div4 ._3 { /*right top*/
                    left: 575px;
                    top: 0px;
                    width: 400px;
                    height: 250px;
    } .div4 ._4 { /*right bottom*/
                          left: 575px;
                          top: 300px;
                          width: 400px;
                          height: 250px;
    }

}
@media screen
and (min-device-width: 220px) and (max-device-width: 480px)
{
    .div2 ._1 { /*left*/
        left: 5px;
        top: 25px;
        width: 150px;
        height: 195px;
    }
    .div2 ._2 { /*right*/
        left: 175px;
        top: 25px;
        width: 150px;
        height: 195px;
    }
    .div3 ._1 { /*left top*/
        left: 5px;
        top: 25px;
        width: 150px;
        height: 195px;
    }

    .div3 ._2 { /*left bottom*/
        left: 175px;
        top: 25px;
        width: 150px;
        height: 195px;
    }

    .div3 ._3 { /*right*/
        left: 5px;
        top: 235px;
        width: 150px;
        height: 195px;
    }

    .div4 ._1 { /*left top*/
        left: 5px;
        top: 25px;
        width: 150px;
        height: 195px;
    }
    .div4 ._2 { /*left bottom*/
        left: 175px;
        top: 25px;
        width: 150px;
        height: 195px;
    }
    .div4 ._3 { /*right top*/
        left: 5px;
        top: 235px;
        width: 150px;
        height: 195px;
    }
    .div4 ._4 { /*right bottom*/
        left: 175px;
        top: 235px;
        width: 150px;
        height: 195px;
    }
}