@media screen
and (min-device-width: 480px) and (max-device-width: 1880px) {

    .visible {display:block;}
    .notvisible {display:none;}

    .video-frame .video-stream-container {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
        display: flex;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .div2 {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .div3 {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .div4 {
        position: relative;
        height: 100%;
        width: 100%;
    }

    video {
        height: 100%;
        width: 100%;
    }

    .div2 ._1 { /*left*/
        left: 3%;
        top: 15%;
        width: 45%;
        height: 60%;
    } .div2 ._2 { /*right*/
        left: 52%;
        top: 15%;
        width: 45%;
        height: 60%;
    }

    .div3 ._1 { /*left top*/
        left: 5%;
        top: 2%;
        width: 40%;
        height: 45%;
    } .div3 ._2 { /*left bottom*/
        left: 5%;
        top: 50%;
        width: 40%;
        height: 45%;
    } .div3 ._3 { /*right*/
        left: 50%;
        top: 25%;
        width: 40%;
        height: 45%;
    }

    .div4 ._1 { /*left top*/
        left: 7%;
        top: 1%;
        width: 35%;
        height: 48%;
    } .div4 ._2 { /*left bottom*/
        left: 7%;
        top: 52%;
        width: 35%;
        height: 48%;
    } .div4 ._3 { /*right top*/
        left: 53%;
        top: 1%;
        width: 35%;
        height: 48%;
    } .div4 ._4 { /*right bottom*/
        left: 53%;
        top: 52%;
        width: 35%;
        height: 48%;
    }

    .userid_title{
        position: absolute;
        color: rgb(160, 160, 160);
        font-size: 10px;
        padding:0;
        margin:0;
    }

}
@media screen
and (min-device-width: 120px) and (max-device-width: 480px)
{
    .visible {display:block;}
    .notvisible {display:none;}

    .video-frame .video-stream-container {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
        display: flex;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .div2 {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .div3 {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .div4 {
        position: relative;
        height: 100%;
        width: 100%;
    }

    video {
        height: 100%;
        width: 100%;
    }

    .div2 ._1 { /*left*/
        left: 5%;
        top:  3%;
        width: 90%;
        height: 45%;
    } .div2 ._2 { /*right*/
        left: 5%;
          top: 51%;
          width: 90%;
          height: 45%;
      }

    .div3 ._1 { /*left top*/
        left: 1%;
        top: 10%;
        width: 48%;
        height: 30%;
    } .div3 ._2 { /*left bottom*/
          left: 1%;
          top: 50%;
          width: 48%;
          height: 30%;
      } .div3 ._3 { /*right*/
            left: 50%;
            top: 25%;
            width: 48%;
            height: 30%;
        }

    .div4 ._1 { /*left top*/
        left: 1%;
        top: 3%;
        width: 48%;
        height: 35%;
    } .div4 ._2 { /*left bottom*/
          left: 1%;
          top: 41%;
          width: 48%;
          height: 35%;
      } .div4 ._3 { /*right top*/
            left: 50%;
            top: 3%;
            width: 48%;
            height: 35%;
        } .div4 ._4 { /*right bottom*/
              left: 50%;
              top: 41%;
              width: 48%;
              height: 35%;
          }

          .userid_title{
              position: absolute;
              color: rgb(160, 160, 160);
              font-size: 7px;
              padding:0;
              margin:0;
          }
}