body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#eee;
  width:100%;
  height:100%;
}
*{

    border-radius:0px;
}
a {
  color: #00B7FF;
}

#wrapper{
    
    margin-top:30px;
    width:90%;
    min-height:600px;
    margin-left:5%;
    border:1px solid #ddd;
    background:#fff;
   
}

.page-container{padding:20px;}
.page-data{padding:10px;}
.page-header{
    
    padding:2px;
    padding-left:40px;
    background:#665847;color:#FEFFFD;
}
.data-btn{padding-left:8px}
.data-btn button{
    padding:10px 20px;background:#FF9900;border:1px solid #fff;
    color:#FEFFFD;font-weight:bold;
}

.data-table{padding-left:10px;}
.data-table table{border-collapse:collapse;border:1px solid #ddd;width:100%}
.a-inside{padding:4px 10px;border:1px solid #fff;text-decoration:none;}
.a-inside.edit{background-color:#00CC00;color:#fff;}
.a-inside.delete{background-color:#D23641;color:#fff;}

input[type="text"]{
    
    border:1px solid #ddd;
    height:26px;
    width:300px;
}
.cancel{
    background-color:#D23641;color:#fff;
    border:1px solid #d32132;color:#fff;
    padding:8px 35px;font-weight:bold;
   

}
input[type="submit"]{

    border:1px solid #6599FF;color:#fff;
    padding:8px 35px;font-weight:bold;
    background:#6599FF;
}
textarea{ border:1px solid #ddd;width:296px;}
.label{font-weight:bold;}

#footer{margin-left:82%;margin-top:10%}

.hideANDseek
{
    display: none;
}

div { margin: 10px; }

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 140px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 168px;
}

option {
    background: #00b7ff;
}

.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }

